body {
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  border-top: 1px solid #999;
  margin-top: .5em;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.grid {
  min-height: 6em;
  padding: 1em;
}
